CompileFlags:
  Add: 
  - -xcuda
  - --cuda-path=/opt/cuda
  - --cuda-gpu-arch=sm_52
  - -I/opt/cuda/include
  - -I../build/glad/include
  - -I../thirdparty/glm/include
  - -I../thirdparty/imgui
  - -I../thirdparty/imgui/backends
